[Postgres]
# These are the required settings for the Postgres database server
#
# Address of host server
Host=<host.psychiatry.uiowa.edu>
# Default is 5432
Port=5432
# Name of postgres database
Database=<Postgres database name>
# Postgress user name
User=<database user name>
# Postgres user password
Password=<database-only password>