body
{
font-family: 'Lucida Grande';
font-size: 13pt;
font-weight: 400;
font-style: normal;
}

p
{
white-space: pre-wrap;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
-qt-block-indent: 0;
text-indent: 0px;
}

span
{
vertical-align: sub;
}